################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/obj/Debug
/bin/Debug
/.vs/reconstruction/v15/Server/sqlite3
/.vscode
/.vs/reconstruction/v15
*.user
*.xlsx#
